<div id="about">
  
  <div id="description">
    <p>I'm <a href="mailto:mikeal.rogers@gmail.com">Mikeal Rogers</a>, I write JavaScript <a href="/#/code">code</a> and I work at <span class="couchone logo"><a href="http://www.couchone.com">CouchOne</a></span>.</p>
  
    <p>Before I worked at <span class="couchone logo"><a href="http://www.couchone.com">CouchOne</a></span> I worked at <span class="mozilla"><a href="http://www.mozilla.com">Mozilla</a></span> and before that at the <a href="http://www.osafoundation.org/">Open Source Applications Foundation</a> and before that at various corporations and startups.</p>
  </div>
</div>